.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 18656px;
  position: relative;
  overflow: hidden;
}
.rectangle-11 {
  background: #cde4ef;
  width: 1375px;
  height: 416px;
  position: absolute;
  left: calc(50% - 687.5px);
  top: calc(50% - 8340px);
}
.rectangle-10 {
  width: 100%;
  height: 146px;
  position: absolute;
  top: calc(50% - 9328px);
  overflow: visible;
  background-color: #19253F;
}
._1708734134059-2 {
  width: 100%;
  height: 713px;
  position: absolute;
  top: calc(50% - 9182px);
  object-fit: cover;
}
._119938734-978995212603509-5591801612966568750-n-1 {
  width: 76px;
  height: 109px;
  position: absolute;
  left: calc(50% - 647.5px);
  top: calc(50% - 9311px);
  object-fit: cover;
}
.joias-folheado-a-ouro-18-k-com-garantia-de-um-ano {
  color: rgba(0, 0, 0, 0.69);
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 363.5px);
  top: calc(50% - 9142px);
  width: 791px;
  height: 154px;
}
.acreditamos-que-o-empreendedorismo-uma-ferramenta-que-temos-para-auxiliar-as-necessidades-das-pessoas-e-oportuniza-a-mudan-a {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 373.5px);
  top: calc(50% - 8444px);
  width: 812px;
  height: 61px;
}
.nesses-mais-de-7-sete-anos-de-experiencia-no-mercado-de-qualidade-em-designer-constituimos-uma-marca-solida-pelos-os-consumidores-dedicamos-em-ter-as-melhores-semijoias-para-que-fidelizamos-os-nossos-clientes-nossa-miss-o-conquista-los-os-clientes-estabelecendo-uma-base-solida-para-viver-bem-e-esta-sempre-bonita-com-o-uso-das-semijoias-de-acordo-os-seus-momentos {
  color: #222611;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 330.5px);
  top: calc(50% - 8223px);
  width: 726px;
  height: 307px;
}
.quem-somos {
  color: #19253f;
  text-align: center;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 137.5px);
  top: calc(50% - 8311px);
  width: 260px;
  height: 62px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 5px;
  height: 0px;
  position: absolute;
  left: calc(50% - 8.5px);
  top: calc(50% - 7679px);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._1708733986712-1 {
  width: 1093px;
  height: 778px;
  position: absolute;
  left: calc(50% - 516.5px);
  top: calc(50% - 5973px);
  object-fit: cover;
}
.grandes-lancamentos-de-brincos {
  color: #000000;
  text-align: center;
  font-family: "Hubballi-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 440.64px);
  top: calc(50% - 4119.47px);
  width: 1072.12px;
  height: 114.62px;
  transform-origin: 0 0;
}
._1708734134095-1-1 {
  width: 1093px;
  height: 727px;
  position: absolute;
  left: calc(50% - 516.5px);
  top: calc(50% - 3962px);
  object-fit: cover;
}
._1708734052522-1 {
  width: 1093px;
  height: 812px;
  position: absolute;
  left: calc(50% - 516.5px);
  top: calc(50% - 3091px);
  object-fit: cover;
}
._1708734052527-1 {
  width: 1130px;
  height: 803px;
  position: absolute;
  left: calc(50% - 553.5px);
  top: calc(50% - 2136px);
  object-fit: cover;
}
._1708734134083-1-1 {
  width: 1088px;
  height: 787px;
  position: absolute;
  left: calc(50% - 511.5px);
  top: calc(50% - 6866px);
  object-fit: cover;
}
.colares-para-usar-com-seu-look {
  color: #19253f;
  text-align: center;
  font-family: "InriaSerif-BoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: calc(50% - 257.5px);
  top: calc(50% - 7727px);
  width: 620px;
  height: 61px;
}
._1708734134214-1 {
  width: 1093px;
  height: 860px;
  position: absolute;
  left: calc(50% - 530.5px);
  top: calc(50% - -2006px);
  object-fit: cover;
}
.braceletes {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to left, #000000, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 32px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 147.5px);
  top: calc(50% - -1887px);
  width: 355px;
  height: 52px;
}
.img-20231125-wa-0084-3-3-1 {
  width: 1075px;
  height: 665px;
  position: absolute;
  left: calc(50% - -562.5px);
  top: calc(50% - -3085px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.pulseiras {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 127.5px);
  top: calc(50% - 1173px);
  width: 278px;
  height: 28px;
}
.img-20231125-wa-0086-3-1 {
  width: 1093px;
  height: 749px;
  position: absolute;
  left: calc(50% - 516.5px);
  top: calc(50% - 1067px);
  object-fit: cover;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 15px;
  height: 0px;
  position: absolute;
  left: calc(50% - -334.5px);
  top: calc(50% - 1705px);
}
.rectangle-12 {
  background: #19253f;
  width: 100%;
  height: 213px;
  position: absolute;
  top: calc(50% - -9115px);
}
.colar-choker-dourado {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 131.5px);
  top: calc(50% - 6921px);
  width: 346px;
  height: 63px;
}
.colar-femin-ino-de-cora-o {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 164.5px);
  top: calc(50% - 6051px);
  width: 393px;
  height: 554px;
}
.colar-de-pedraria {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 54.5px);
  top: calc(50% - 5159px);
  width: 191px;
  height: 50px;
}
._0-1 {
  width: 1093px;
  height: 754px;
  position: absolute;
  left: calc(50% - 516.5px);
  top: calc(50% - 5073px);
  object-fit: cover;
}
.colar-semijoa-tigre {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 422.5px);
  top: calc(50% - 4283px);
  width: 899px;
}
.frame-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - -311.5px);
  top: calc(50% - 3263px);
  overflow: hidden;
}
.endere-o-rua-ir-nio-santos-melo-45-bairro-jos-gusm-o-de-brito-fone-de-contato-zap-77-999485014 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 629.5px);
  top: calc(50% - -9134px);
  width: 1282px;
  height: 167px;
}
.brinco-com-pedraria-de-cora-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 184.5px);
  top: calc(50% - 3198px);
  width: 496px;
  height: 70px;
}
.brinco-de-pedra-verde {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 93.5px);
  top: calc(50% - 2242px);
}
._1708734134072-1-1 {
  width: 1088px;
  height: 732px;
  position: absolute;
  left: calc(50% - 511.5px);
  top: calc(50% - 7666px);
  object-fit: cover;
}
.brinco-de-cora-o-com-pedra-incolor {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 155.5px);
  top: calc(50% - 1313px);
}
.bracelete-cobra {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 121.5px);
  top: calc(50% - -2946px);
}
.bracelete-liso {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 94.5px);
  top: calc(50% - -3819px);
}
._0-2 {
  width: 1075px;
  height: 859px;
  position: absolute;
  left: calc(50% - 560.5px);
  top: calc(50% - -4165px);
  object-fit: cover;
}
.sess-o-de-an-is {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 36px;
  font-weight: 300;
  position: absolute;
  left: calc(50% - 117.5px);
  top: calc(50% - -4040px);
  width: 378px;
  height: 56px;
}
._0-3 {
  width: 1071px;
  height: 834px;
  position: absolute;
  left: calc(50% - 556.5px);
  top: calc(50% - -5186px);
  object-fit: cover;
}
.anel-liso-aberto {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 32px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 113.5px);
  top: calc(50% - -5045px);
  width: 341px;
  height: 77px;
}
.anel-duplo {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 32px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 105.5px);
  top: calc(50% - -6032px);
  width: 291px;
}
._0-4 {
  width: 1057px;
  height: 788px;
  position: absolute;
  left: calc(50% - 549.5px);
  top: calc(50% - -6319px);
  object-fit: cover;
}
.brincos {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 45.5px);
  top: calc(50% - -6191px);
  width: 199px;
  height: 75px;
}
._0-5 {
  width: 1063px;
  height: 875px;
  position: absolute;
  left: calc(50% - 549.5px);
  top: calc(50% - -7360px);
  object-fit: cover;
}
.brincos-de-pedrarias {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 32px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 160.5px);
  top: calc(50% - -7171px);
}
.brinco-arco {
  color: #000000;
  text-align: left;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 32px;
  font-weight: 200;
  position: absolute;
  left: calc(50% - 42.5px);
  top: calc(50% - -8280px);
}
._0-6 {
  width: 1062px;
  height: 776px;
  position: absolute;
  left: calc(50% - 530.5px);
  top: calc(50% - -824px);
  object-fit: cover;
}
.pulseira-de-cora-o-com-pedrarias {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 275.5px);
  top: calc(50% - -1667px);
  width: 611px;
  height: 37px;
}
._0-7 {
  width: 1062px;
  height: 734px;
  position: absolute;
  left: calc(50% - 500.5px);
  top: calc(50% - 86px);
  object-fit: cover;
}
.pulseiras-com-pedraria {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 203.5px);
  top: calc(50% - 270px);
  width: 407px;
  height: 93px;
}
.pulseira-dupla {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 96.5px);
  top: calc(50% - -715px);
}
.adquira-j-sua-semijoias {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 518.5px);
  top: calc(50% - -8439px);
}
.atrav-s-das-redes-social-instagram-whatsasapp-site {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 518.5px);
  top: calc(50% - -8541px);
}
.formas-de-pagamentos {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 518.5px);
  top: calc(50% - -8629px);
}
.rectangle-13 {
  background: #d9d9d9;
  width: 352px;
  height: 101px;
  position: absolute;
  left: calc(50% - 512.5px);
  top: calc(50% - -8761px);
}
.cart-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 434.5px);
  top: calc(50% - -8798px);
  width: 150px;
  height: 66px;
}
.rectangle-14 {
  background: #f5f5f5;
  width: 345px;
  height: 101px;
  position: absolute;
  left: calc(50% - 505.5px);
  top: calc(50% - -8901px);
}
.pix {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 394.5px);
  top: calc(50% - -8930px);
}
