.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #d1a684;
  height: 3315px;
  position: relative;
  overflow: hidden;
}
.whats-app-image-2024-02-21-at-17-51-1 {
  width: 217px;
  height: 319px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 1657.5px);
  object-fit: cover;
}
.rectangle-1 {
  background: rgba(255, 255, 255, 0.14);
  width: 100%;
  height: 113px;
  position: absolute;
  top: calc(50% - 1662.5px);
}
._7-f-0-adc-6-e-fce-4-4-b-72-9297-acaf-850-ed-826-removebg-preview-1 {
  width: 550px;
  height: 802px;
  position: absolute;
  left: calc(50% - -67px);
  top: calc(50% - 1440.5px);
  object-fit: cover;
}
.ed-9783-e-0-0-f-9-a-4-d-2-e-881-a-6-f-51758-f-15-ff-1 {
  width: 190px;
  height: 439px;
  position: absolute;
  left: calc(50% - 270px);
  top: calc(50% - -185.5px);
  object-fit: cover;
}
.c-7-d-1-d-89-c-57-ae-488-f-96-c-9-3007-cee-19-e-65-1 {
  width: 254px;
  height: 439px;
  position: absolute;
  left: calc(50% - 49px);
  top: calc(50% - -185.5px);
  object-fit: cover;
}
._24-f-51-adc-e-3-ab-4-f-79-b-096-31-d-7-e-8-f-2-b-25-f-1 {
  width: 192px;
  height: 439px;
  position: absolute;
  left: calc(50% - 517px);
  top: calc(50% - -185.5px);
  object-fit: cover;
}
._62741-d-8-b-a-91-a-44-e-1-acf-5-cbb-1-ddf-92516-1 {
  width: 264px;
  height: 427px;
  position: absolute;
  left: calc(50% - -243px);
  top: calc(50% - -185.5px);
  object-fit: cover;
}
.rectangle-3 {
  background: #e1c5af;
  width: 1497px;
  height: 562px;
  position: absolute;
  left: calc(50% - 744px);
  top: calc(50% - -871.5px);
}
.icon-instagram {
  height: auto;
  position: absolute;
  left: calc(50% - 205px);
  top: calc(50% - -1045.5px);
  overflow: visible;
}
.icon-whatsapp {
  height: auto;
  position: absolute;
  left: calc(50% - -97px);
  top: calc(50% - -1045.5px);
  overflow: visible;
}
.vector {
  width: 1497px;
  height: 2893.91px;
  position: absolute;
  left: calc(50% - 777px);
  top: calc(50% - 1325.5px);
  overflow: visible;
}
.vector-1 {
  width: 731px;
  height: 89px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -868.5px);
  overflow: visible;
}
.vector-2 {
  width: 627px;
  height: 98px;
  position: absolute;
  left: calc(50% - -93px);
  top: calc(50% - -775.5px);
  overflow: visible;
}
