.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 2695px;
  position: relative;
  overflow: hidden;
}
.rectangle-23 {
  background: #000000;
  width: 100%;
  height: 658px;
  position: absolute;
  top: calc(50% - -89.5px);
}
._7-ff-4-f-83-a-0-d-77-4857-b-8-c-8-7-e-93-d-5-c-11-a-40-removebg-preview-2 {
  width: 239px;
  height: 118px;
  position: absolute;
  left: calc(50% - 701px);
  top: calc(50% - 1321.5px);
  object-fit: cover;
}
._7-ff-4-f-83-a-0-d-77-4857-b-8-c-8-7-e-93-d-5-c-11-a-40-removebg-preview-3 {
  width: 284px;
  height: 42px;
  position: absolute;
  left: calc(50% - 556px);
  top: calc(50% - 1288.5px);
  object-fit: cover;
}
._7-ff-4-f-83-a-0-d-77-4857-b-8-c-8-7-e-93-d-5-c-11-a-40-removebg-preview-4 {
  width: 284px;
  height: 76px;
  position: absolute;
  left: calc(50% - 337px);
  top: calc(50% - 1274.5px);
  object-fit: cover;
}
.otimize-seu-tempo-e-sua-rotina-com-tarzan-transportes-realize-seus-sonhos-e-metas-com-a-nossa-ajuda {
  width: 499.22px;
  height: 444.2px;
  position: absolute;
  left: calc(50% - 631px);
  top: calc(50% - 1109.32px);
  overflow: visible;
}
.rectangle-4 {
  background: rgba(217, 217, 217, 0.53);
  width: 100%;
  height: 533px;
  position: absolute;
  top: calc(50% - 449.5px);
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 119px);
  top: calc(50% - -121.5px);
  width: 239px;
  height: 44px;
}
._7-ff-4-f-83-a-0-d-77-4857-b-8-c-8-7-e-93-d-5-c-11-a-40-removebg-preview-1 {
  width: 395px;
  height: 195px;
  position: absolute;
  left: calc(50% - 209px);
  top: calc(50% - 228.5px);
  object-fit: cover;
}
.rectangle-19 {
  background: #3a3a3a;
  width: 560px;
  height: 419px;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - -232.5px);
}
.rectangle-20 {
  background: #3a3a3a;
  width: 560px;
  height: 419px;
  position: absolute;
  left: calc(50% - -52px);
  top: calc(50% - -232.5px);
}
.rectangle-9 {
  background: #3a3a3a;
  width: 203px;
  height: 47px;
  position: absolute;
  left: calc(50% - 586px);
  top: calc(50% - -189.5px);
}
.rectangle-21 {
  background: #3a3a3a;
  width: 202px;
  height: 61px;
  position: absolute;
  left: calc(50% - -410px);
  top: calc(50% - -189.5px);
}
.aluguel-semanal {
  color: #ff0000;
  text-align: left;
  font-family: "AdventPro-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 172px);
  top: calc(50% - -260.5px);
  width: 108px;
  height: 111px;
}
.aluguel-semanal2 {
  color: #ff0000;
  text-align: left;
  font-family: "AdventPro-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -120px);
  top: calc(50% - -262.5px);
  width: 108px;
  height: 111px;
}
.r-200-00 {
  color: #ff0000;
  text-align: left;
  font-family: "Aldrich-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 549px);
  top: calc(50% - -599.5px);
}
.r-240-00 {
  color: #ff0000;
  text-align: left;
  font-family: "Aldrich-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -88px);
  top: calc(50% - -599.5px);
}
.pop-110-i {
  color: #ff0000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 581px);
  top: calc(50% - -197.5px);
  width: 166px;
  height: 39px;
}
.rectangle-16 {
  background: #ebebeb;
  width: 100%;
  height: 518px;
  position: absolute;
  top: calc(50% - -747.5px);
}
.vitoria-da-conquista-ba {
  color: #bd0707;
  text-align: center;
  font-family: "AdventPro-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -85px);
  top: calc(50% - -1113.5px);
}
.rectangle-17 {
  background: #d9d9d9;
  width: 473px;
  height: 45px;
  position: absolute;
  left: 437px;
  top: 3319px;
}
.sempre-buscando-a-aprova-o-de-satisfa-o-dos-nosssos-clientes {
  width: 614.18px;
  height: 101.16px;
  position: absolute;
  left: calc(50% - 332.63px);
  top: calc(50% - 394.58px);
  overflow: visible;
}
.pop-110-i-2023-2024-vermelho-1 {
  width: 474px;
  height: 323px;
  position: absolute;
  left: calc(50% - 543px);
  top: calc(50% - -256.5px);
  object-fit: cover;
}
._50657-vermelho-1 {
  width: 477px;
  height: 340px;
  position: absolute;
  left: calc(50% - -97px);
  top: calc(50% - -262.5px);
  object-fit: cover;
}
._7-ff-4-f-83-a-0-d-77-4857-b-8-c-8-7-e-93-d-5-c-11-a-40-removebg-preview-5 {
  width: 286px;
  height: 141px;
  position: absolute;
  left: calc(50% - 143px);
  top: calc(50% - -751.5px);
  object-fit: cover;
}
.fan-160-i {
  color: #ff0000;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - -437px);
  top: calc(50% - -201.5px);
}
.motoboy-alphaville-barueri-removebg-preview-1 {
  width: 721px;
  height: 682px;
  position: absolute;
  left: calc(50% - 195px);
  top: calc(50% - 1236.5px);
  object-fit: cover;
}
.rectangle-18 {
  background: #000000;
  width: 100%;
  height: 115px;
  position: absolute;
  top: calc(50% - 577.5px);
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.4);
}
._7-a-65-faf-4-e-508-4-ef-7-b-973-d-919-f-8513-f-53-1 {
  width: 237px;
  height: 98px;
  position: absolute;
  left: calc(50% - 738px);
  top: calc(50% - 568.5px);
  object-fit: cover;
}
._7-a-65-faf-4-e-508-4-ef-7-b-973-d-919-f-8513-f-53-2 {
  width: 351px;
  height: 38px;
  position: absolute;
  left: calc(50% - 393px);
  top: calc(50% - 531.5px);
  object-fit: cover;
}
._7-a-65-faf-4-e-508-4-ef-7-b-973-d-919-f-8513-f-53-3 {
  width: 172px;
  height: 50px;
  position: absolute;
  left: calc(50% - 549px);
  top: calc(50% - 552.5px);
  object-fit: cover;
}
.group-1 {
  position: absolute;
  inset: 0;
}
._77-99996-3948 {
  color: #bd0707;
  text-align: center;
  font-family: "AdventPro-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 492px);
  top: calc(50% - -1116.5px);
  width: 403.47px;
  height: 54.6px;
}
.group {
  width: 42.25px;
  height: 36.13px;
  position: absolute;
  left: calc(50% - 459px);
  top: calc(50% - -1121.5px);
  overflow: visible;
}
.descubra-o-que-podemos-fazer-por-voc-entre-em-contato-e-deixe-nos-surpreend-lo {
  color: #bd0707;
  text-align: center;
  font-family: "AdventPro-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 459px);
  top: calc(50% - -972.5px);
  width: 919px;
  height: 96px;
}
.rectangle-22 {
  background: #000000;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 1px 0px 0px 0px;
  width: 100%;
  height: 85px;
  position: absolute;
  top: calc(50% - -1265.5px);
}
.douglas-pereira-silva-2024-todos-os-direitos-reservados {
  color: #ffffff;
  text-align: center;
  font-family: "AdventPro-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 371px);
  top: calc(50% - -1292.5px);
}
