.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 273.9375rem;
  position: relative;
  overflow: hidden;
}
.seu-pet-mais-que-um-pet {
  color: #dbdb09;
  text-align: center;
  font-family: "JejuHallasan-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -18.75rem);
  top: calc(50% - 86.46875rem);
  width: 24.625rem;
  height: 1.8125rem;
  mix-blend-mode: overlay;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #bffe93;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5.8125rem;
  position: absolute;
  top: calc(50% - 136.90625rem);
}
.whats-app-image-2024-02-21-at-16-41-1 {
  width: 5.625rem;
  height: 5.4375rem;
  top: calc(50% - 136.96875rem);
  left: calc(50% - 44.375rem);
  object-fit: cover;
}
._166-1665416-they-are-all-our-family-cachorro-e-gato-1 {
  width: 100%;
  height: 49.0625rem;
  position: absolute;
  top: calc(50% - 131.09375rem);
  object-fit: cover;
}
.frame-2 {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  left: calc(50% - 24.0625rem);
  top: calc(50% - 117.65625rem);
  overflow: hidden;
}
.frame-3 {
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  left: calc(50% - 23.125rem);
  top: calc(50% - 89.71875rem);
  overflow: hidden;
}
.tudo-que-o-seu-pet-precisa-a-um-petshop-de-voc-venha-n-s-visitar {
  color: #fd7905;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 34.8125rem);
  top: calc(50% - 124.96875rem);
  width: 27.6875rem;
  height: 13.5625rem;
}
.nossa-loja {
  color: #337009;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  left: calc(50% - -2.5rem);
  top: calc(50% - 134.84375rem);
  width: 9.6875rem;
}
.nossa-localiza-o {
  color: #337009;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  left: calc(50% - -13.75rem);
  top: calc(50% - 134.90625rem);
  width: 14.3125rem;
}
.contatos {
  color: #337009;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  left: calc(50% - -27.25rem);
  top: calc(50% - 134.90625rem);
  width: 13.875rem;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  border-radius: 0rem;
  width: 75.5rem;
  height: 33.3125rem;
  position: absolute;
  left: calc(50% - 37.71875rem);
  top: calc(50% - 79.03125rem);
  overflow: visible;
}
.paix-o-humildade-seu-pet-mais-que-um-pet-qualidade-acima-de-quantidade {
  color: rgba(0, 0, 0, 0.83);
  text-align: center;
  position: absolute;
  left: calc(50% - 10.375rem);
  top: calc(50% - 60.65625rem);
}
.paix-o-humildade-seu-pet-mais-que-um-pet-qualidade-acima-de-quantidade-span {
  color: rgba(0, 0, 0, 0.83);
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.paix-o-humildade-seu-pet-mais-que-um-pet-qualidade-acima-de-quantidade-span2 {
  color: rgba(0, 0, 0, 0.83);
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#miss-o-e-valores {
  color: #fd7905;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 12.625rem);
  top: calc(50% - 76.53125rem);
  width: 26.5rem;
  height: 15.875rem;
}
.trazer-para-o-mercado-um-neg-cio-que-visa-o-bem-estar-e-sa-de-animal {
  color: rgba(0, 0, 0, 0.82);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 21.5rem);
  top: calc(50% - 76.03125rem);
  width: 43.5625rem;
  height: 22.1875rem;
}
.frame-4 {
  width: 0.0625rem;
  height: 5.5625rem;
  position: absolute;
  left: calc(50% - -2.3125rem);
  top: calc(50% - 66.96875rem);
  overflow: hidden;
}
._30-dog-breeds-icons-removebg-preview-1 {
  width: 4.8125rem;
  height: 3.9375rem;
  position: absolute;
  left: calc(50% - 16.4375rem);
  top: calc(50% - 76.65625rem);
  object-fit: cover;
}
#nossa-loja2 {
  color: #337009;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 28.4375rem);
  top: calc(50% - 41.09375rem);
  width: 56.875rem;
  height: 4.5rem;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.oip-1 {
  border-radius: 0.3125rem;
  width: 37.5625rem;
  height: 25.625rem;
  position: absolute;
  left: calc(50% - 39.75rem);
  top: calc(50% - 36.90625rem);
  object-fit: cover;
}
.f-5-aff-0-c-2-f-7374440-c-09-a-7-ad-92-c-80-d-9-c-4-1 {
  border-radius: 0.3125rem;
  width: 39.5rem;
  height: 25.625rem;
  position: absolute;
  left: calc(50% - -0.25rem);
  top: calc(50% - 36.90625rem);
  object-fit: cover;
}
._30-dog-breeds-icons-removebg-preview-2 {
  width: 5.375rem;
  height: 5.8125rem;
  position: absolute;
  left: calc(50% - -7.6875rem);
  top: calc(50% - 42.71875rem);
  object-fit: cover;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(172, 243, 122, 0.46);
  border-radius: 3.6875rem;
  width: 81.1875rem;
  height: 70.75rem;
  position: absolute;
  left: calc(50% - 40.59375rem);
  top: calc(50% - 8.28125rem);
}
.rectangle-6 {
  width: 19.5625rem;
  height: 3.8125rem;
  position: absolute;
  left: calc(50% - 9.859375rem);
  top: calc(50% - 3.46875rem);
  overflow: visible;
}
#nossos-servisos {
  color: #fd7905;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 9.046875rem);
  top: calc(50% - 3.46875rem);
  height: 4.5625rem;
}
.rectangle-17 {
  width: 10.125rem;
  height: 2.6875rem;
  position: absolute;
  left: calc(50% - 11.859375rem);
  top: calc(50% - -28.96875rem);
  overflow: visible;
}
.rectangle-12 {
  width: 10.1875rem;
  height: 2.6875rem;
  position: absolute;
  left: calc(50% - -24.265625rem);
  top: calc(50% - -7.71875rem);
  overflow: visible;
}
.acessorios {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -25.015625rem);
  top: calc(50% - -7.65625rem);
  width: 10.875rem;
  height: 2.5625rem;
}
.rectangle-18 {
  width: 10.1875rem;
  height: 2.6875rem;
  position: absolute;
  left: calc(50% - -24.265625rem);
  top: calc(50% - -28.96875rem);
  overflow: visible;
}
.rectangle-13 {
  width: 5.0625rem;
  height: 1.8125rem;
  position: absolute;
  left: calc(50% - -29.390625rem);
  top: calc(50% - -24.15625rem);
  overflow: visible;
}
.rectangle-10 {
  width: 9.75rem;
  height: 9.3125rem;
  position: absolute;
  left: calc(50% - 11.484375rem);
  top: calc(50% - -13.40625rem);
  overflow: visible;
}
.c-272-edeaea-96-bdd-96-b-5-eb-40-c-8-db-8-e-85-e-1 {
  width: 21.8125rem;
  height: 18.875rem;
  position: absolute;
  left: calc(50% - -0.328125rem);
  top: calc(50% - -4.40625rem);
  object-fit: cover;
}
.rectangle-21 {
  width: 9.75rem;
  height: 9.3125rem;
  position: absolute;
  left: calc(50% - 11.484375rem);
  top: calc(50% - -34.65625rem);
  overflow: visible;
}
.rectangle-14 {
  width: 9.75rem;
  height: 9.3125rem;
  position: absolute;
  left: calc(50% - -24.703125rem);
  top: calc(50% - -13.40625rem);
  overflow: visible;
}
.rectangle-23 {
  width: 40.75rem;
  height: 6.875rem;
  position: absolute;
  left: calc(50% - 20.609375rem);
  top: calc(50% - -51.40625rem);
  overflow: visible;
}
.tudo-isso-e-muito-mais-na-nossa-loja-prencencial {
  color: #337009;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.734375rem);
  top: calc(50% - -50.40625rem);
  width: 35.75rem;
  height: 5.5625rem;
}
.ra-es-1 {
  width: 22.8125rem;
  height: 20rem;
  position: absolute;
  left: calc(50% - 37.234375rem);
  top: calc(50% - -5.09375rem);
  object-fit: cover;
}
.ra-oes {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 12.609375rem);
  top: calc(50% - -8.21875rem);
  width: 7.25rem;
  height: 2.5625rem;
}
.brinquedos {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.421875rem);
  top: calc(50% - -29.21875rem);
  width: 13.125rem;
  height: 3.4375rem;
}
.oip-2 {
  width: 22.4375rem;
  height: 18.125rem;
  position: absolute;
  left: calc(50% - 0.296875rem);
  top: calc(50% - -26.90625rem);
  object-fit: cover;
}
.medicamentos {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -23.390625rem);
  top: calc(50% - -27.15625rem);
  width: 15.9375rem;
  height: 2.375rem;
}
.aparte-de {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.734375rem);
  top: calc(50% - -12.65625rem);
  width: 11.75rem;
  height: 1.6875rem;
}
.aparte-de2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -23.265625rem);
  top: calc(50% - -12.65625rem);
  width: 12.0625rem;
  height: 1.6875rem;
}
.aparte-de3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.109375rem);
  top: calc(50% - -33.53125rem);
  width: 12rem;
  height: 1.6875rem;
}
.aparte-de4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -24.765625rem);
  top: calc(50% - -33.21875rem);
  width: 9.9375rem;
  height: 1.6875rem;
}
._7-99 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 10.234375rem);
  top: calc(50% - -14.90625rem);
  width: 3.625rem;
  height: 2.3125rem;
}
._11-70 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 10.421875rem);
  top: calc(50% - -35.96875rem);
  width: 4.375rem;
  height: 2.3125rem;
}
._5-50 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -27.140625rem);
  top: calc(50% - -14.90625rem);
  width: 4.875rem;
  height: 2.625rem;
}
.r-3-00 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -26.515625rem);
  top: calc(50% - -35.96875rem);
  width: 6.375rem;
  height: 2.8125rem;
}
._30-dog-breeds-icons-removebg-preview-3 {
  width: 4.5rem;
  height: 3.625rem;
  position: absolute;
  left: calc(50% - 14.046875rem);
  top: calc(50% - 3.28125rem);
  object-fit: cover;
}
.r-1 {
  width: 22.8125rem;
  height: 18.9375rem;
  position: absolute;
  left: calc(50% - 36.796875rem);
  top: calc(50% - -28.15625rem);
  object-fit: cover;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.image-1 {
  width: 41.8125rem;
  height: 33rem;
  position: absolute;
  left: calc(50% - 20.90625rem);
  top: calc(50% - -72.09375rem);
  object-fit: cover;
}
#nossa-localiza-o2 {
  color: #fd7905;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 17.96875rem);
  top: calc(50% - -67.40625rem);
  width: 35.3125rem;
  height: 7.6875rem;
}
._30-dog-breeds-icons-removebg-preview-4 {
  width: 5.375rem;
  height: 5.8125rem;
  position: absolute;
  left: calc(50% - -11.21875rem);
  top: calc(50% - -65.46875rem);
  object-fit: cover;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: rgba(213, 100, 37, 0.87);
  width: 100%;
  height: 12.875rem;
  position: absolute;
  top: calc(50% - -120.15625rem);
}
.instagram-ane-castro {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -1.375rem);
  top: calc(50% - -128.34375rem);
  width: 26.75rem;
}
.telefone-77999426559 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 35.5625rem);
  top: calc(50% - -128.15625rem);
  width: 33.0625rem;
  height: 2.625rem;
}
#contatos2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 7.875rem);
  top: calc(50% - -123.46875rem);
}
._9-e-95-c-1-d-7-aa-1-b-0975-deac-1-a-1-ff-74502-f-7-2 {
  width: 16.375rem;
  height: 16.9375rem;
  position: absolute;
  left: calc(50% - 47.1875rem);
  top: calc(50% - -118.15625rem);
  object-fit: cover;
}
._9-e-95-c-1-d-7-aa-1-b-0975-deac-1-a-1-ff-74502-f-7-1 {
  width: 14rem;
  height: 16.375rem;
  position: absolute;
  left: calc(50% - -33.1875rem);
  top: calc(50% - -118.71875rem);
  object-fit: cover;
}
.rectangle-4 {
  background: rgba(213, 100, 37, 0.6);
  width: 100%;
  height: 3.9375rem;
  position: absolute;
  top: calc(50% - -133.03125rem);
}
.ane-kelly-todos-os-direitos-reservados {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 19.625rem);
  top: calc(50% - -134.09375rem);
  width: 33.125rem;
  height: 1.9375rem;
}
