.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: #ffffff;
  height: 3408px;
  position: relative;
  overflow: hidden;
}
.rectangle-14 {
  background: rgba(248, 200, 118, 0.78);
  width: 1445px;
  height: 650px;
  position: absolute;
  left: calc(50% - 725px);
  top: calc(50% - 1617px);
}
.rectangle-1 {
  width: 461px;
  height: 516px;
  position: absolute;
  left: calc(50% - -184px);
  top: calc(50% - 1525px);
  overflow: visible;
}
.rectangle-4 {
  background: #f8c876;
  border-radius: 50px;
  width: 1342px;
  height: 498px;
  position: absolute;
  left: calc(50% - 666px);
  top: calc(50% - 860px);
}
.rectangle-15 {
  border-radius: 0px;
  width: 349px;
  height: 284px;
  position: absolute;
  left: calc(50% - -174px);
  top: calc(50% - 777px);
  overflow: visible;
}
.compromisso-seguran-a-e-honestidade-s-o-os-valores-da-marca {
  color: #000000;
  text-align: center;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 643px);
  top: calc(50% - 450px);
  width: 725px;
  height: 29px;
}
.rectangle-7 {
  background: rgba(172, 146, 146, 0.45);
  width: 338px;
  height: 287px;
  position: absolute;
  left: calc(50% - 543px);
  top: calc(50% - 172px);
}
.rectangle-8 {
  background: rgba(172, 146, 146, 0.45);
  width: 338px;
  height: 287px;
  position: absolute;
  left: calc(50% - 155px);
  top: calc(50% - 172px);
}
.rectangle-9 {
  background: rgba(172, 146, 146, 0.45);
  width: 338px;
  height: 287px;
  position: absolute;
  left: calc(50% - -236px);
  top: calc(50% - 172px);
}
.rectangle-11 {
  background: rgba(248, 200, 118, 0.78);
  width: 1332px;
  height: 82px;
  position: absolute;
  left: calc(50% - 666px);
  top: calc(50% - -1598px);
}
.luciana-sousa-oliveira-2024-todos-os-direitos-reservados {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 378px);
  top: calc(50% - -1624px);
}
.luciana-sousa-oliveira-2024-todos-os-direitos-reservados-span {
  color: #000000;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
.luciana-sousa-oliveira-2024-todos-os-direitos-reservados-span2 {
  color: #000000;
  font-family: "InriaSerif-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.luciana-sousa-oliveira-2024-todos-os-direitos-reservados-span3 {
  color: #000000;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.a-nossa-missa-o-trazer-a-todos-o-gostinho-da-vov-o-aconchego-a-satisfa-o-prazer-e-acima-de-tudo-acessibilidade-os-biscoitos-e-beijus-d-lu-s-o-feitos-com-todo-o-cuidado-carinho-e-sutileza-nos-detalhes-dos-sabores-tudo-isso-para-que-o-seu-lar-escrit-rio-e-consult-rio-possa-oferecer-o-melhor-para-a-sua-fami-lia-e-os-seus-clientes {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 574px);
  top: calc(50% - 704px);
  width: 600px;
  height: 283px;
}
.rectangle-12 {
  background: rgba(248, 200, 118, 0.57);
  width: 1440px;
  height: 87px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 1704px);
}
.logo-biscoiteria-da-lu-com-fundo-removebg-preview-1 {
  width: 126px;
  height: 81px;
  position: absolute;
  left: calc(50% - 688px);
  top: calc(50% - 1704px);
  object-fit: cover;
}
.logo-biscoiteria-da-lu-com-fundo-removebg-preview-2 {
  width: 258px;
  height: 166px;
  position: absolute;
  left: calc(50% - 643px);
  top: calc(50% - 1191px);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-10 {
  width: 506px;
  height: 533px;
  position: absolute;
  left: calc(50% - -122px);
  top: calc(50% - 1558px);
  object-fit: cover;
}
.atendemos-toda-cidade-e-regi-o {
  color: rgba(0, 0, 0, 0.77);
  text-align: left;
  font-family: "IstokWeb-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 626px);
  top: calc(50% - 1292px);
  width: 616px;
  height: 49px;
}
.whats-app-image-2024-02-20-at-19-102 {
  width: 415px;
  height: 326px;
  position: absolute;
  left: calc(50% - 620px);
  top: calc(50% - 211px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-103 {
  width: 428px;
  height: 371px;
  position: absolute;
  left: calc(50% - 620px);
  top: calc(50% - -248px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-104 {
  border-radius: 55px;
  width: 523px;
  height: 457px;
  position: absolute;
  left: calc(50% - -645px);
  top: calc(50% - 839px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-105 {
  width: 322px;
  height: 344px;
  position: absolute;
  left: calc(50% - 155px);
  top: calc(50% - 211px);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-106 {
  width: 352px;
  height: 344px;
  position: absolute;
  left: calc(50% - -267px);
  top: calc(50% - 211px);
  object-fit: cover;
}
.rectangle-16 {
  background: #d9d9d9;
  width: 312px;
  height: 100px;
  position: absolute;
  left: calc(50% - -220px);
  top: calc(50% - -395px);
}
._0-1 {
  width: 338px;
  height: 372px;
  position: absolute;
  left: calc(50% - 155px);
  top: calc(50% - -247px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
._0-3 {
  width: 381px;
  height: 322px;
  position: absolute;
  left: calc(50% - -224px);
  top: calc(50% - -281px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
._0-2 {
  width: 371px;
  height: 339px;
  position: absolute;
  left: calc(50% - 460px);
  top: calc(50% - -769px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
.mail-1 {
  width: 368px;
  height: 339px;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - -769px);
  box-shadow: 0px 4px 9.6px 0px rgba(0, 0, 0, 0.77);
  object-fit: cover;
}
.rectangle-13 {
  background: rgba(248, 200, 118, 0.78);
  width: 1440px;
  height: 339px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -1217px);
}
.vector {
  width: 788px;
  height: 2850.98px;
  position: absolute;
  left: calc(50% - 622.03px);
  top: calc(50% - 1536.5px);
  overflow: visible;
}
.sorvetinho {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 470px);
  top: calc(50% - -130px);
}
.casad-o {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 38px);
  top: calc(50% - -133px);
}
.maracuj {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 455px);
  top: calc(50% - -643px);
}
.len-o-de-goiabada {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 79px);
  top: calc(50% - -638px);
}
.gergilim {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 319px);
  top: calc(50% - -1117px);
}
.gominha-com-canela {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -305px);
  top: calc(50% - -638px);
}
.whats-app-image-2024-02-20-at-19-107 {
  width: 1600px;
  height: 1546px;
  position: absolute;
  left: calc(50% - 5846px);
  top: calc(50% - 2737px);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-108 {
  width: 1600px;
  height: 1330px;
  position: absolute;
  left: calc(50% - 2566px);
  top: calc(50% - 2521px);
  object-fit: cover;
}
.whats-app-image-2024-02-20-at-19-109 {
  width: 768px;
  height: 1280px;
  position: absolute;
  left: calc(50% - 2538px);
  top: calc(50% - 1151px);
}
.whats-app-image-2024-02-20-at-19-1010 {
  width: 780px;
  height: 1040px;
  position: absolute;
  left: calc(50% - 5038px);
  top: calc(50% - -489px);
  object-fit: cover;
}
.whatsapp-logo {
  width: 418.14px;
  height: 418.14px;
  position: absolute;
  left: calc(50% - -914px);
  top: calc(50% - -2307px);
  overflow: hidden;
}
.vector2 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: calc(50% - 168px);
  top: calc(50% - -1352px);
  overflow: visible;
}
.group {
  height: auto;
  position: absolute;
  left: calc(50% - 168px);
  top: calc(50% - -1422px);
  overflow: visible;
}
.beij-amanteigado {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -64px);
  top: calc(50% - -1117px);
}
.palito-de-c-co {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -370px);
  top: calc(50% - -135px);
}
.d-lu-biscoiteria {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - -1358px);
}
._77-981293950 {
  color: rgba(0, 0, 0, 0.71);
  text-align: center;
  font-family: "InriaSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - -1429px);
}
