.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #6f8964;
  height: 4683px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #6f8964;
  width: 1456px;
  height: 100px;
  position: absolute;
  left: calc(50% - 736px);
  top: calc(50% - 2341.5px);
}
.tcc-ana-1 {
  width: 180px;
  height: 94px;
  position: absolute;
  left: calc(50% - -524px);
  top: calc(50% - 2341.5px);
  object-fit: cover;
}
.imagem-destacada-5-1 {
  width: 100%;
  height: 849px;
  position: absolute;
  top: calc(50% - 2241.5px);
  object-fit: cover;
}
.rectangle-2 {
  width: 625px;
  height: 205.61px;
  position: absolute;
  left: calc(50% - 694px);
  top: calc(50% - 2150.11px);
  overflow: visible;
}
.group {
  height: auto;
  position: absolute;
  left: calc(50% - 634px);
  top: calc(50% - 2304.71px);
  overflow: visible;
}
.xmlid-1 {
  height: auto;
  position: absolute;
  left: 41px;
  top: 37.82px;
  overflow: visible;
}
.rectangle-3 {
  background: #6f8964;
  width: 1553px;
  height: 97px;
  position: absolute;
  left: calc(50% - 734px);
  top: calc(50% - 1392.5px);
}
.tcc-ana-3 {
  width: 180px;
  height: 94px;
  position: absolute;
  left: calc(50% - -524px);
  top: calc(50% - 2341.5px);
  object-fit: cover;
}
.tcc-ana-2 {
  width: 180px;
  height: 94px;
  position: absolute;
  left: calc(50% - -524px);
  top: calc(50% - 2341.5px);
  object-fit: cover;
}
.tcc-ana-4 {
  width: 180px;
  height: 95px;
  position: absolute;
  left: calc(50% - -532px);
  top: calc(50% - 1392.5px);
  object-fit: cover;
}
.rectangle-7 {
  background: #6f8964;
  width: 1442px;
  height: 3358px;
  position: absolute;
  left: calc(50% - 715px);
  top: calc(50% - 1016.5px);
}
.rectangle-4 {
  background: #9eac97;
  width: 1436px;
  height: 298px;
  position: absolute;
  left: calc(50% - 716px);
  top: calc(50% - 1301.5px);
}
.tcc-ana-5 {
  width: 180px;
  height: 95px;
  position: absolute;
  left: calc(50% - -526px);
  top: calc(50% - 1001.5px);
  object-fit: cover;
}
._68-b-6-d-6-d-7-4234-43-e-6-8343-71-f-76-fa-0-cc-2-a-1 {
  width: 390px;
  height: 459px;
  position: absolute;
  left: calc(50% - -18px);
  top: calc(50% - 790.5px);
  object-fit: cover;
}
.rectangle-9 {
  width: 622px;
  height: 96px;
  position: absolute;
  left: calc(50% - 634.5px);
  top: calc(50% - 909.5px);
  overflow: visible;
}
.rectangle-10 {
  background: rgba(217, 217, 217, 0.44);
  width: 1440px;
  height: 566px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 146.5px);
}
.rectangle-11 {
  background: rgba(217, 217, 217, 0.44);
  width: 1440px;
  height: 921px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -1320.5px);
}
.icon-email {
  height: auto;
  position: absolute;
  left: calc(50% - 453px);
  top: calc(50% - -1671.5px);
  overflow: visible;
}
.icon-instagram {
  height: auto;
  position: absolute;
  left: calc(50% - 453px);
  top: calc(50% - -1507.5px);
  overflow: visible;
}
.vector {
  width: 77.48px;
  height: 70.97px;
  position: absolute;
  left: calc(50% - 290px);
  top: calc(50% - -1494.5px);
  overflow: visible;
}
._1-438-png-6-0-0-16-626-187-234-1263-06-892-1 {
  border-radius: 7px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 556px);
  top: calc(50% - 395.13px);
  transform-origin: 0 0;
  transform: rotate(-7deg) scale(1, 1);
  object-fit: cover;
}
._1-438-png-6-0-0-16-626-187-234-1263-06-892-2 {
  border-radius: 7px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - -303px);
  top: calc(50% - 885.13px);
  transform-origin: 0 0;
  transform: rotate(-7deg) scale(1, 1);
  object-fit: cover;
}
.unhas-7-1 {
  width: 600px;
  height: 307.5px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 17.5px);
  object-fit: cover;
}
.rectangle-12 {
  background: rgba(217, 217, 217, 0.45);
  width: 642px;
  height: 479px;
  position: absolute;
  left: calc(50% - 306px);
  top: calc(50% - -635.5px);
}
.img-20180130-wa-0008-removebg-preview-1 {
  width: 500px;
  height: 500px;
  position: absolute;
  left: calc(50% - 245px);
  top: calc(50% - -635.5px);
  object-fit: cover;
}
.img-2980-1 {
  width: 180px;
  height: 95px;
  position: absolute;
  left: calc(50% - 1120px);
  top: calc(50% - -924.5px);
  object-fit: cover;
}
._89-cc-53238-f-863-b-416-e-8-c-18-e-67849582-d-manicure-tools-manicures-1 {
  width: 195px;
  height: 138px;
  position: absolute;
  left: calc(50% - 725px);
  top: calc(50% - -566.5px);
}
.silhouette-manicure-nippers-manicure-and-pedicure-tool-with-cutting-parts-free-vector-removebg-preview-1 {
  width: 143px;
  height: 139px;
  position: absolute;
  left: calc(50% - 488.66px);
  top: calc(50% - -1306.79px);
  transform-origin: 0 0;
  transform: rotate(90.945deg) scale(1, 1);
  object-fit: cover;
}
.silhouette-manicure-nippers-manicure-and-pedicure-tool-with-cutting-parts-free-vector-removebg-preview-2 {
  width: 88px;
  height: 71px;
  position: absolute;
  left: calc(50% - 286.58px);
  top: calc(50% - 1374.57px);
  transform-origin: 0 0;
  transform: rotate(118.549deg) scale(1, 1);
  object-fit: cover;
}
.silhouette-manicure-nippers-manicure-and-pedicure-tool-with-cutting-parts-free-vector-removebg-preview-3 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - -368.17px);
  top: calc(50% - -300.51px);
  transform-origin: 0 0;
  transform: rotate(-28.579deg) scale(1, 1);
  object-fit: cover;
}
.fc-4-e-53-dc-b-2-fb-42-d-1-a-32-f-4-b-8-f-5-e-3-fe-616-1 {
  width: 383px;
  height: 453px;
  position: absolute;
  left: calc(50% - 408px);
  top: calc(50% - 785.5px);
  object-fit: cover;
}
.whats-app-logo {
  width: 57px;
  height: 65px;
  position: absolute;
  left: 387px;
  top: -7px;
  overflow: hidden;
}
.instagram-logo {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 427px;
  top: -27px;
  overflow: hidden;
}
.https-www-instagram-com-claraa-18 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 34px;
  height: 47px;
}
.https-www-instagram-com-claraa-18-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.https-www-instagram-com-claraa-18-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
}
.vector2 {
  width: 1323.54px;
  height: 4433.95px;
  position: absolute;
  left: calc(50% - 630.4px);
  top: calc(50% - 2116.14px);
  overflow: visible;
}
.image-1 {
  width: 651px;
  height: 663px;
  position: absolute;
  left: calc(50% - 115px);
  top: calc(50% - -1494.5px);
  object-fit: cover;
}
