.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: rgba(41, 40, 160, 0.92);
  height: 4104px;
  position: relative;
  overflow: hidden;
}
.espetto-cariocatabua-de-picanha-1 {
  width: 100%;
  height: 565px;
  position: absolute;
  top: calc(50% - 1948px);
  object-fit: cover;
}
._20240229-085006-0000-removebg-preview-1 {
  width: 163px;
  height: 156px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 2052px);
  object-fit: cover;
}
.group {
  height: auto;
  position: absolute;
  left: calc(50% - -628.06px);
  top: calc(50% - 2007.07px);
  overflow: visible;
}
.vector {
  width: 20px;
  height: 26.96px;
  position: absolute;
  left: calc(50% - -599px);
  top: calc(50% - 2005.95px);
  overflow: visible;
}
.vector2 {
  width: 18px;
  height: 28.08px;
  position: absolute;
  left: calc(50% - -657px);
  top: calc(50% - 2007.07px);
  overflow: visible;
}
.rectangle-2 {
  width: 189px;
  height: 171px;
  position: absolute;
  left: calc(50% - 293px);
  top: calc(50% - 184px);
  overflow: visible;
}
.rectangle-13 {
  width: 189px;
  height: 171px;
  position: absolute;
  left: calc(50% - 293px);
  top: calc(50% - -479px);
  overflow: visible;
}
.rectangle-16 {
  width: 189px;
  height: 171px;
  position: absolute;
  left: calc(50% - 291px);
  top: calc(50% - -1088px);
  overflow: visible;
}
.rectangle-5 {
  background: #6c6bd9;
  width: 1191px;
  height: 2251px;
  position: absolute;
  left: calc(50% - 599px);
  top: calc(50% - 1053px);
}
.rectangle-12 {
  background: rgba(0, 0, 0, 0.31);
  border-radius: 21px;
  width: 588px;
  height: 582px;
  position: absolute;
  left: calc(50% - 534px);
  top: calc(50% - 824px);
}
.rectangle-14 {
  background: rgba(0, 0, 0, 0.31);
  border-radius: 21px;
  width: 588px;
  height: 582px;
  position: absolute;
  left: calc(50% - 534px);
  top: calc(50% - 126px);
}
.rectangle-17 {
  background: rgba(0, 0, 0, 0.31);
  border-radius: 21px;
  width: 588px;
  height: 582px;
  position: absolute;
  left: calc(50% - 519px);
  top: calc(50% - -537px);
}
.rectangle-7 {
  border-radius: 21px;
  width: 578px;
  height: 577px;
  position: absolute;
  left: calc(50% - 503px);
  top: calc(50% - 850px);
  object-fit: cover;
}
.rectangle-15 {
  border-radius: 21px;
  width: 578px;
  height: 577px;
  position: absolute;
  left: calc(50% - 503px);
  top: calc(50% - 152px);
  object-fit: cover;
}
.rectangle-18 {
  border-radius: 21px;
  width: 578px;
  height: 577px;
  position: absolute;
  left: calc(50% - 488px);
  top: calc(50% - -511px);
  object-fit: cover;
}
.feijoada-um-prato-tradicional-brasileiro-composto-de-feij-o-preto-carnes-vareadas-como-lingui-a-bacon-carne-seca-e-costela {
  width: 352.9px;
  height: 520.19px;
  position: absolute;
  left: calc(50% - -119.77px);
  top: calc(50% - 745.17px);
  overflow: visible;
}
.rectangle-11 {
  width: 225px;
  height: 37px;
  position: absolute;
  left: calc(50% - 136px);
  top: calc(50% - 1004px);
  overflow: visible;
}
.rectangle-19 {
  background: #6c6bd9;
  width: 1440px;
  height: 114px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -1938px);
}
.vector3 {
  width: 1049.66px;
  height: 4002.09px;
  position: absolute;
  left: calc(50% - 509.25px);
  top: calc(50% - 1998.45px);
  overflow: visible;
}
