.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #dcdcdc;
  height: 3696px;
  position: relative;
  overflow: hidden;
}
.rs-logo-elegante-minimalista-preto-branco-e-verde-musgo-2-4-1-removebg-preview-2-1 {
  border-radius: 59px;
  width: 135px;
  height: 129px;
  position: absolute;
  left: calc(50% - 683px);
  top: calc(50% - 1828px);
  object-fit: cover;
}
.rectangle-1 {
  width: 512px;
  height: 656px;
  position: absolute;
  left: calc(50% - -50px);
  top: calc(50% - 1764px);
  object-fit: cover;
}
.rectangle-2 {
  background: #b6b6b6;
  width: 567px;
  height: 17px;
  position: absolute;
  left: calc(50% - 616px);
  top: calc(50% - 1599px);
}
.rectangle-3 {
  background: #b6b6b6;
  width: 1440px;
  height: 538px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 959px);
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 8px;
  width: 302px;
  height: 266px;
  position: absolute;
  left: calc(50% - 546px);
  top: calc(50% - 876px);
}
.rectangle-5 {
  background: #d9d9d9;
  border-radius: 8px;
  width: 306px;
  height: 266px;
  position: absolute;
  left: calc(50% - 148px);
  top: calc(50% - 876px);
}
.rectangle-6 {
  background: #d9d9d9;
  border-radius: 8px;
  width: 307px;
  height: 266px;
  position: absolute;
  left: calc(50% - -237px);
  top: calc(50% - 876px);
}
.rectangle-7 {
  background: #717171;
  width: 473px;
  height: 112px;
  position: absolute;
  left: calc(50% - 548px);
  top: calc(50% - 1220px);
}
._88-f-6-bf-58-a-7-e-98341186-cfc-71-d-780-d-666-1 {
  width: 463px;
  height: 759px;
  position: absolute;
  left: calc(50% - 226px);
  top: calc(50% - 421px);
  object-fit: cover;
}
._808294-c-4-43-d-8-4087-9-f-3-a-870-d-295-a-7496-1 {
  width: 494px;
  height: 759px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 421px);
  object-fit: cover;
}
.vestido-midi-canelado-em-tricot-de-manga-longa-na-cor-caramelo-e-mescla-727-1-30783-d-4-a-452-f-4-e-45-bcd-5-e-6-dabf-305334-1 {
  width: 483px;
  height: 759px;
  position: absolute;
  left: calc(50% - -237px);
  top: calc(50% - 421px);
  object-fit: cover;
}
.cal-a {
  color: #000000;
  text-align: left;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 496px);
  top: calc(50% - -362px);
  width: 108px;
}
.vestido-curto {
  color: #000000;
  text-align: left;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 66px);
  top: calc(50% - -354px);
}
.vestido-longo {
  color: #000000;
  text-align: left;
  font-family: "Italiana-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -395px);
  top: calc(50% - -354px);
  width: 219px;
  height: 18px;
}
.ed-55-b-66-c-0-d-796-bf-2-dc-107-ba-65-b-05030-e-1 {
  width: 517px;
  height: 646px;
  position: absolute;
  left: calc(50% - 769px);
  top: calc(50% - -550px);
  object-fit: cover;
}
.blusa-cropped-um-ombro-s-sexy-fashion-moda-ver-o-casual-estilo-festas-macia-feminina-1 {
  width: 435px;
  height: 646px;
  position: absolute;
  left: calc(50% - 297px);
  top: calc(50% - -550px);
  object-fit: cover;
}
._1630479087660-fd-6-a-9-d-27-da-82147-a-6-f-07-eb-429-ff-11-thumbnail-405-x-552-1 {
  width: 582px;
  height: 660px;
  position: absolute;
  left: calc(50% - -138px);
  top: calc(50% - -536px);
  object-fit: cover;
}
.rectangle-8 {
  background: rgba(0, 0, 0, 0.75);
  width: 1440px;
  height: 284px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -1353px);
}
.instagram-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 308px);
  top: calc(50% - -1476px);
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group2 {
  height: auto;
  position: absolute;
  left: calc(50% - -37px);
  top: calc(50% - -1476px);
  overflow: visible;
}
.vector {
  width: 1053.84px;
  height: 3475.45px;
  position: absolute;
  left: calc(50% - 542.76px);
  top: calc(50% - 1684.45px);
  overflow: visible;
}
